@(username: String, presentersForm: Form[Users], presenters: List[Users], results: List[CompetitionResults])

    @main("Administrator"){
        <div class="section-2-copy">
            <div class="votercontainer w-container">
                <h1 class="welcome-message admin">Welcome, @username!</h1>
                <div class="welcome-message admin">Administrators have the ability to registration competitions and presenters. During the competition, an admin is able to view the results and look at each presenter&#x27;s individual comments. </div>
                <div class="row-2 w-row">
                    <div class="w-col w-col-6">
                        <div class="w-form">
                            @helper.form(action= helper.CSRF(routes.AdminController.savePresenter(username))){
                                <fieldset>
                                    <div class="form-block w-form">
                                        <div class="field-label-7">
                                        @helper.input(presentersForm("Create Presenter")){ (id, name, value, args) =>
                                            <input class="w-input" placeholder="Presenter's Full Name" name="username" type="text">
                                        }
                                        </div>
                                    </div>

                                    <input class="button admin w-button" type="submit" value="Submit">
                                </fieldset>
                            }
                            </form>
                        </div>
                        <div class="w-form">
                            <div class="form-group">
                                    @helper.form(action= helper.CSRF(routes.AdminController.viewPresenter(username))){
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="field-label-7">
                                                @helper.input(presentersForm("Select Presenter")){ (id, name, value, args) =>
                                                    <select name="presenter" class="field-label-2">
                                                        <option value=selectPresenter>Select Presenter</option>
                                                        @for(presenter <- presenters) {
                                                            <option value=@presenter.username>@presenter.username</option>
                                                        }
                                                    </select>
                                                }
                                                </div>
                                            </div>

                                            <input class="button admin w-button" type="submit" value="Submit">
                                        </fieldset>
                                    }
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-6">
                        <h3 class="welcome-message admin">Scores</h3>
                        <ul class="w-list-unstyled">
                            <li>
                                <div class="w-row">
                                    <div class="w-col w-col-9 welcome-message admin-bold">Presenter</div>
                                    <div class="w-col w-col-3 welcome-message admin-bold">Total Score</div>
                                </div>
                            </li>
                        @for(person <- results) {
                            <li>
                                <div class="w-row">
                                    <div class="w-col w-col-9 field-label-8">@person.presenter</div>
                                    <div class="w-col w-col-3 field-label-8">@person.uiDesign</div>
                                </div>
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
