@(loginForm: Form[AdminData], message: String)
    @main("Login"){
    <div class="section-3">
        <div class="container-2 w-container">
            <div class="div-block">
                <div class="form-block w-form">
                    <div class="panel-body">
                        <h1 class="heading-2">Administrator Login</h1>
                        <div class="text-block">@message</div>
                        @helper.form(action= helper.CSRF(routes.AdminController.userlogin())){
                            <fieldset>
                                <div class="form-block w-form">
                                    <div class="field-label-2">
                                    @helper.input(loginForm("Username")){ (id, name, value, args) =>
                                        <input class="w-input" placeholder="" name="username" type="text">
                                    }
                                    </div>
                                </div>

                                <div class="form-block w-form">
                                    <div class="field-label-2">
                                    @helper.input(loginForm("Password")){ (id, name, value, args) =>
                                        <input class="w-input" placeholder="" name="password" type="password" value="">
                                    }
                                    </div>
                                </div>

                                <input class="submit-button w-button" type="submit" value="Submit">
                                <a href=@routes.AdminController.registrationPage()>
                                    <input class="register-button w-button" type="button" value="Register">
                                </a>
                            </fieldset>
                        }
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }